#wrapper {
  max-width: 500px;
  padding: 0em .7em 0em .7em;
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

html {
  height: 100%;
  background-color: #585858;
}

body {
  position: relative;
  height: 100%;
}

#buttons {
  display: none;
}

@media (min-width: 500px) {
  body {
    text-align: left;
  }
  #wrapper {
    position: relative;
    left: 50%;
    margin-left: -250px;
  }
}

#main {
  @include aspect-ratio(5,7.7);
  position: relative;
}

#progressBar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3px;
  left: 0;
}

.backgroundImg {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 90%;
}

#app {
  position: absolute;
  width: 100%;
  height: 100%;
}

.fade {
  opacity: .2;
}

#canvas{ 
  background-image: url('../img/bak.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

#start {
  z-index: 9999;
  position: relative;
  left: 50%;
  top:70%;
  opacity: .7;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  margin-left: -50px;
  line-height: 50px;
  background: white;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.desc { 
  top: 92.5%;
  font-size: 1em;
  font-weight: bold;
  position: relative;
  width: 100%;
  position: absolute;
  transition: opacity 1s; 
	background-color: white;
	padding: 10px 5px 10px 5px;
  text-align: center;
}

#buttons {
  z-index: 9999;
  position:absolute;
  top: 90%;
  left: 50%;
  height: 50px;
  width: 220px;
  margin-left: -110px;
}

button {
  width: 100px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
}

.axis path,
.axis line {
  shape-rendering: crispEdges;
  fill: none;
  width: 1px;
}

svg { 
  z-index: -1;
  position: absolute;
}

.point {
  transition: r 1s;
  stroke-width: 2px;
  stroke: red;
  fill: red;
  fill-opacity: .2;
}

#splash {
  color: black;
  font-weight: bold;
  width: 100%;
  position: relative;
  top: 100px;
  text-align: center;
}

#splash h1 {
  font-size: 2.5em;
}

#splash p {
  font-size: 1.5em;
}
