@font-face {
  font-family: 'Publico';
  src: url('./fonts/publico/Publico-Roman.otf');
}

@font-face {
  font-family: 'Publico-Black';
  src: url('./fonts/publico/Publico-Black.otf');
}

@font-face {
  font-family: 'Boomer';
  src: url('./fonts/boomer/Boomer-Regular.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'Boomer';
  src: url('./fonts/boomer/Boomer-Bold.otf');
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: 'Boomer-Light';
  src: url('./fonts/boomer/Boomer-Light.otf');
  font-style: normal
}

$large-text-bold: 'Boomer';
$large-text: 'Boomer-Light';
$body-text: 'Boomer';
$bg-color: #222;
$text-black: #121212;
$gray-bg: #e7e7e7;

/********
Begin map
*********/

#map {
  height: 200px;
}
